/* BEGIN SIDE NAV */
#nav {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: inline-grid;
    padding: 1vh;
    width: fit-content;
}

.nav_btn {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #6464b980;
    color: black;
    border: 2px solid #6464b9;
    border-radius: 12px;
    padding: 3%;
    font-size: large;
}

.nav_btn:hover {
    background-color: #6464b9;
    color: white;
  }
/* END SIDE NAV */


/* BEGIN TOP NAV */
#location_banner{
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6464b9;
    position: fixed;
    z-index: 10;
}

.location_li {
    display: inline;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.location_li a, a:hover, a:visited {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

#location_text {
    font-weight: bold;
}
/* END TOP NAV */

/* BEGIN MOBILE VERSION */
@media only screen and (max-width: 600px) {
    #location_banner {
        width: 100vw;

    }
    .location_li {
        padding: 3px 16px;
        float: none;
    }
    #svg-container {
        overflow: scroll;
        width: 100vw;
        height:100vh;
    }
    #nav {
        bottom: 1%;
        right: 1%;
    }
  }
/* END MOBILE VERSION */